.App {
  text-align: center;
}

html {
  height: 100%;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

body {
  height: 90%;
  background: transparent;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-group {
  padding: 10px 0px;
}

.form-group input, .form-group textarea {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-trash {
  padding: 5px 8px;
  display: flex;
}

.title, .form-group input, .form-group textarea {
  color: white;
}